<div class="section white">
  <div class="row container">
    <div class="col s12">
    <h3 class="inline">{{user.firstname}}'s Reviews</h3>
    <button class="waves-effect waves-light btn modal-trigger white right" href="#rate-modal"><i class="fa fa-star red-text accent-4"></i> <span class="red-text accent-4">Write a Review</span></button>
    <div class="hide-on-large-only">
      <br />
      <br />
    </div>
  </div>
  <div class="row container">
    {{#each reviews}}
      <div class="row">
        <div class="col-md-12">
          <ul class="collection">
            <li class="collection-item">
              <h4>{{locationName}}</h4>
              <b>{{city}}</b><br />
              {{rating}} star rating<br />
              <blockquote>{{review}}</blockquote>
              <div class="right-align">
                {{#if ../isAuthenticated}}<a href="/edit/{{id}}" class="waves-effect waves-light btn modal-trigger white"><span class="red-text accent-4"><i class="fa fa-pencil"></i></span></a>
                <a href="/deleteReview/{{id}}" class="deleteBtn waves-effect waves-light btn modal-trigger white" data-id="{{id}}" onclick="Materialize.toast('Review deleted', 4000)"><span class="red-text accent-4"><i class="fa fa-trash"></i></span></a>
                {{/if}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
</div> <!-- end col s12 -->